.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartContent > img {
    height: 290px;
    width: 230px;
    object-fit: cover;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.price {
    text-align: center;
    margin-top: 10px;
}

.carTotal {
    text-align: center;
}

.cart-v {
    text-align: center;
}

.btn-pagar {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: rgb(55, 36, 73);
    text-align: center;
    cursor: pointer;
    width: 10%;
    height: 35px;
    font-size: 15px;
    padding-bottom: 20px;
}

.description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
}
