.navbar{
background-color: rgb(122, 62, 159);
list-style: none;
}
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
.container-cart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 250px;
  }