.navbar{
background-color: rgb(79, 33, 123);
}
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    cursor: pointer;
}
.container-cart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 250px;
  }