.bnc{
    padding-top: 30px;
}





.bienvenida-container{
    
    background-color: rgba(98, 61, 133, 0.13);
    text-align: center;
    width: 100%;
    height: 75px;
    padding-top: 20px;
}

.bienvenida-container h2{
    text-align: center;
    padding-top: 20px;
}