@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.text-container {
    width: 100%;
    margin: 12px;
    font-weight: 700;
    text-align: center;
    
}
.titulo-principal{
    color: rgb(255, 255, 255);
    font-family: 'Vina Sans', sans-serif;
    
}
.sub-titulo{
    color: rgb(255, 255, 255);
    font-family: 'Vina Sans', sans-serif;

}
.personajes-3d{
    transform: translatex(+50%);
    height: 350px;
    width: 900px;
    
}

@media only screen and (max-width: 768px) {
    .text-container {
        margin: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .text-container {
        margin: 10px;
    }
    .personajes-3d{
        transform: translatex(-5%);
        height: 300px;
        width: auto;
    }
}